<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <style>
      .even {
        color: blue;
      }
      .odd {
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1>{{ title }}</h1>
      <p class="{% if second % 2 == 0 %}even{% else %}odd{% endif %}">現在の時刻: {{ hour }}:{{ minute }}:{{ second }}</p>
    </div>
  </body>
</html>
